
**pycache**/
*.py[cod]
*.so
*.egg-info/
build/
dist/

venv/
.env/

.vscode/
.idea/


.DS_Store
Thumbs.db

*.log

*.sqlite
*.db

exports/raw/*
exports/json/*
exports/csv/*

.env

.pytest_cache/


.coverage
htmlcov/

venv/
__pycache__/
raw/
exports/
*.sqlite
*.db
.env

exports/
raw/
progress.txt